<template name="__home">
</template>

<template name="cmsinn_layout">
    <div id="cmsinn-container" class="container">
        <div class="row clearfix">
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="translations">Enable Translations Awesomness</button>
            </div>
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="structure">Enable Structure Awesomness</button>
            </div>
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="navigation">Enable Navigation Awesomness</button>
            </div>
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="image">Enable Image Awesomness</button>
            </div>
        </div>
        <br/>
        <div class="row clearfix">
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="locale">Enable Language Awesomness</button>
            </div>
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="sortable">Enable Sortable Awesomness</button>
            </div>
            <div class="col-md-3 column">
                 <button type="button" class="btn btn-default btn-block" id="deletable">Enable Deleteable Awesomness</button>
            </div>
        </div>
        <br/>
        <div class="row clearfix">
            <div class="col-md-12 column">
                 <button type="button" class="btn btn-default btn-block" id="disable">Disable Awesomness</button>
            </div>
        </div>
    </div>
</template>

<template name="cmsinn_controls_left">
    <div class="drager">
        <div id="cmsinn-container" class="container">
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_translations" title="Translations edit mode"><i class="fa fa-edit fa-2x"></i></button>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_structure" title="Structure edit mode"><i class="fa fa-puzzle-piece fa-2x"></i></button>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_navigation" title="Navigation edit mode"><i class="fa fa-link fa-2x"></i></button>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_image" title="Image edit mode"><i class="fa fa-image fa-2x"></i></button>
                </div>
            </div>    
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_locale" title="Languages edit mode"><i class="fa fa-globe fa-2x"></i></button>
                </div>
            </div>   
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_sortable"><i class="fa fa-reorder fa-2x"></i></button>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_deletable"><i class="fa fa-trash-o fa-2x"></i></button>
                </div>
            </div>
            <div class="row clearfix">    
                <div class="col-md-1 column control">
                     <button type="button" class="btn btn-default btn-block" id="cmsinn_disable"><i class="fa fa-power-off fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>